<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- THERE SHOULD BE CSS RIGHT BELOW ME -->
    {% stylesheets '@AppBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- THERE SHOULD BE CSS RIGHT ABOVE ME -->

    <title>{% block title %}TGT Budget App{% endblock %}</title>
</head>
<body class="{% block body_classes %}{% endblock %}">
    {% include 'navigation.html.twig' %}
    {% include 'flashbag.html.twig' %}
    <div class="container-fluid fr3-container">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html.twig' %}
    {% block javascripts %}
        {% javascripts
        '@AppBundle/Resources/public/js/jquery-3.1.1.min.js'
        '@AppBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</body>
</html>